/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&sk { release-after-ms = <3000>; };

/ {
    combos {
        compatible = "zmk,combos";

        home {
            bindings = <&to 0>;
            key-positions = <38 39>;
        };

        bluyee {
            bindings = <&to 3>;
            key-positions = <36 41>;
        };

        escy {
            bindings = <&kp ESCAPE>;
            key-positions = <19 21>;
        };

        ffef {
            bindings = <&kp BACKSPACE>;
            key-positions = <16 15>;
        };

        sd {
            bindings = <&kp DEL>;
            key-positions = <15 14>;
        };

        tonum {
            bindings = <&to 1>;
            key-positions = <38 40>;
        };

        tonav {
            bindings = <&to 2>;
            key-positions = <37 39>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&none  &kp Q        &kp W       &kp E             &kp R             &kp T             &kp Y                 &kp U              &kp I                &kp O       &kp P           &none
&none  &mt LCTRL A  &mt LALT S  &mt LGUI D        &mt LEFT_SHIFT F  &kp G             &kp H                 &mt RIGHT_SHIFT J  &mt RIGHT_COMMAND K  &mt RALT L  &mt SEMI RCTRL  &none
&none  &kp Z        &kp X       &kp C             &kp V             &kp B             &kp N                 &kp M              &mt SQT COMMA        &kp DOT     &kp SLASH       &none
                                &mt CAPSLOCK TAB  &lt 2 ENTER       &mt LGUI SPACE    &mt LEFT_SHIFT ENTER  &lt 1 BACKSPACE    &kp ESCAPE
            >;
        };

        numbers {
            bindings = <
&none  &mt ASTERISK SLASH  &kp F7  &kp F8  &kp F9  &kp F10    &mt ASTERISK SLASH  &kp N7  &kp N8  &kp N9  &kp N0     &none
&none  &mt UNDER MINUS     &kp F4  &kp F5  &kp F6  &kp F11    &mt UNDER MINUS     &kp N4  &kp N5  &kp N6  &kp COLON  &none
&none  &mt PLUS EQUAL      &kp F1  &kp F2  &kp F3  &kp F12    &mt PLUS EQUAL      &kp N1  &kp N2  &kp N3  &kp DOT    &none
                                   &trans  &trans  &trans     &trans              &trans  &trans
            >;
        };

        nav {
            bindings = <
&none  &to 0       &kp LA(LEFT)  &kp UP     &kp LA(RIGHT)   &mt LG(Q) ENTER    &kp C_VOLUME_UP    &trans    &kp UP     &trans     &trans     &none
&none  &trans      &kp LEFT      &kp DOWN   &kp RIGHT       &sl 0              &kp C_VOLUME_DOWN  &kp LEFT  &kp DOWN   &kp RIGHT  &trans     &none
&none  &bl BL_OFF  &sk LGUI      &sk LGUI   &sk LEFT_SHIFT  &sk LEFT_ALT       &kp K_MUTE         &trans    &mkp RCLK  &mkp LCLK  &mkp MCLK  &none
                                 &mkp RCLK  &mkp MCLK       &mkp LCLK          &trans             &trans    &trans
            >;
        };

        bluetooth {
            bindings = <
&trans  &trans  &trans  &trans  &bt BT_CLR_ALL  &bt BT_CLR    &bt BT_SEL 0   &bt BT_SEL 1   &bt BT_SEL 2   &bt BT_SEL 3   &bt BT_SEL 4   &trans
&trans  &trans  &trans  &trans  &trans          &trans        &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &bt BT_DISC 4  &trans
&trans  &trans  &trans  &trans  &trans          &trans        &trans         &trans         &trans         &trans         &trans         &trans
                        &trans  &trans          &trans        &trans         &trans         &trans
            >;
        };

        fffkeys {
            bindings = <
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F10    &kp F10  &kp F7  &kp F8  &kp F9  &trans  &trans
&trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11    &kp F11  &kp F4  &kp F5  &kp F6  &trans  &trans
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F12    &kp F12  &kp F1  &kp F2  &kp F3  &trans  &trans
                        &trans  &trans  &trans     &trans   &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        testss {
            if-layers = <1 2>;
            then-layer = <6>;
        };
    };
};
